button {
  color: white;
  background-color: #3498DB;
  text-decoration: none;
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
  padding: 0.4em 0.7em;
  border-radius: 0.3em;
  border: none;
}

button:hover {
  filter: brightness(0.8);
}

.ghost {
  outline: 0.1em solid #2980B9;
  color: black;
  background-color: #fff;
}

.ghost:hover {
  color: rgb(253, 237, 237);
  outline-color: #000000;
  background-color: #2980B9;
  border: none;
}

.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.red {
  background-color: red;
}
