.listing {
  border-radius: 0.5em;
  padding: 1em;
  max-width: 75%;
  margin: 1.2em auto;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  background: white;
  position: relative;
}

.listing p {
  margin: 0.5em 0;
}

.listing li span {
  background-color: white;
  border-radius: 0.5em;
  padding: 0.2em 0.4em;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.button-container {
  display: flex;
  gap: 0.6em;
  justify-content: flex-end;
}
.save-button-container {
  display: flex;
  gap: 0.6em;
  justify-content: flex-start;
}

input[type="file"] {
  display: block;
  margin-top: 1rem;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 0.15em solid #ccc;
  border-radius: 0.25rem;
}

.image-slider {
  position: relative;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  max-width: 100%;
  flex: 0 0 100%;
  max-height: 450px;
  object-fit: contain;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.6em;
  z-index: 1;
  transition: background-color 0.3s;
}

.prev-btn {
  left: 0.6em;
}

.next-btn {
  right: 0.6em;
}

.host {
  display: flex;
  align-items: center;
  margin-bottom: 1.3em;
}
.host p {
  margin: 0 0.3em;
}
#profile-img {
  margin: 1em 1em;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

#profile-img:hover {
  border-radius: 35%;
  transform: scale(1.5);
}

#address {
  font-style: italic;
  margin: 0.5em 0;
}

#amenity-list {
  display: flex;
  gap: 0 1rem;
}

#book-button {
  scale: 1.5;
  position: absolute;
  right: 2em;
  bottom: 1em;
}