.contact-container {
  max-width: 800px;
  background-color: white;
  margin: 0 auto;
  padding: 1.5em;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  margin-bottom: 1.5rem;
}