.calendar {
    font-family: Arial, sans-serif;
    max-width: 300px;
    margin: 0 auto;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #ffffff;
    padding: 0.6em;
  }
  
  .calendar-header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 1.2em;
  }
  
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 0.1em solid #ccc;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
  }
  
  .day {
    text-align: center;
    font-weight: bold;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .calendar-day {
    border: 0.1em solid #ccc;
    padding: 0.3em;
    text-align: center;
    cursor: pointer;
  }
  
  .calendar-day.other-month {
    color: #ccc;
  }
  
  .calendar-day.booked {
    background-color: #ffcccc;
    cursor:initial;
  }
  .calendar-day.past {
    color: #ccc; 
    background-color: #f9f9f9; 
    cursor: initial; 
  }
  .calendar-day.selected {
    background-color: rgba(0, 255, 123, 0.5);
    border-color: #007bff;
  }
  .is-range-selection-mode .calendar-day {
    cursor: initial;
  }
  .date {
    display: block;
    font-size: 0.8em;
    margin-bottom: 0.3em;
  }
  