.about-container {
  display: flex;
  max-width: fit-content;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 1.5em;
  background-color: #f9f9f9;
  border-radius: 0.5em;
  box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.1);
}

.about-container h1 {
  margin-bottom: 1rem;
}

.about-container h2 {
  margin-top:  1.5rem;
  margin-bottom:  0.3rem;
}

