<form [formGroup]="registerForm" (ngSubmit)="register()">
  <label for="username">Username:</label>
  <input id="username" formControlName="username" type="text" />
  <div
    class="error"
    *ngIf="
      registerForm.get('username')?.invalid &&
      registerForm.get('username')?.touched
    "
  >
    Please enter a username with at least 3 characters.
  </div>
  <div class="names">
    <div>
      <label for="firstName">First Name:</label>
      <input id="firstName" formControlName="firstName" type="text" />
      <div
        class="error"
        *ngIf="
          registerForm.get('firstName')?.invalid &&
          registerForm.get('firstName')?.touched
        "
      >
        First name is required and must contain only letters (at least 3
        characters).
      </div>
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input id="lastName" formControlName="lastName" type="text" />
      <div
        class="error"
        *ngIf="
          registerForm.get('lastName')?.invalid &&
          registerForm.get('lastName')?.touched
        "
      >
        Last name is required and must contain only letters (at least 3
        characters).
      </div>
    </div>
  </div>

  <label for="email">Email:</label>
  <input id="email" formControlName="email" type="email" />
  <div
    class="error"
    *ngIf="
      registerForm.get('email')?.invalid && registerForm.get('email')?.touched
    "
  >
    Please enter a valid email address.
  </div>

  <label for="password">Password:</label>
  <input id="password" formControlName="password" type="password" />
  <div
    class="error"
    *ngIf="
      registerForm.get('password')?.invalid &&
      registerForm.get('password')?.touched
    "
  >
    Password must be at least 8 characters long and include at least one letter,
    one number, and one special character.
  </div>

  <label for="confirmPassword">Confirm Password:</label>
  <input
    id="confirmPassword"
    formControlName="confirmPassword"
    type="password"
  />
  <div
    class="error"
    *ngIf="
      registerForm.errors &&
      registerForm.errors['mismatch'] &&
      registerForm.get('confirmPassword')?.touched
    "
  >
    Passwords do not match.
  </div>

  <label for="roles">Are you looking to:</label>
  <div id="roles" *ngFor="let role of rolesList">
    <input type="checkbox" [value]="role" (change)="onRoleChange($event)" />
    {{ rolesMapping[role] }}
  </div>

  <app-button
    text="Register"
    type="submit"
    [disabled]="registerForm.invalid"
  ></app-button>
  <div class="error" *ngIf="error">{{ error }}</div>
  <div class="login-link">
    Already have an account? <a routerLink="/login">Login here</a>.
  </div>
</form>
