form {
  max-width: 500px;
  margin: 0 auto;
  padding: 1.2em;
  background-color: #f9f9f9;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin: 0.4em 0;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.5em;
  border: 0.1em solid #ccc;
  border-radius: 0.3em;
  margin: 0 0 1em;
}

input[type="checkbox"] {
  margin-right: 0.7em;
}

.error {
  color: red;
}

.names {
  color: inherit;
  display: flex;
  gap: 0.6em;
}

.names > div {
  color: inherit;
  flex: 1;
}

#roles {
  color: inherit;
}

app-button {
  margin-top: 1em;
}
.login-link {
  text-align: center;
}
