.register-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 1.2em;
  background-color: #f9f9f9;
  border-radius: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  margin: 0 0 1em;
}
input[type="checkbox"] {
  margin-right: 0.4em;
  margin-bottom: 0.8em;
}

.error {
  color: red;
  margin-top: 0.7em;
}
.login-link {
  margin-top: 1em;
  text-align: center;
}
