.header-container {
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: auto;
  background-color: #007bff;
  padding: 0.6rem 1.1rem;
  color: white;
  margin-bottom: 2em;
  font-size: 1.4em;
}

#logo{
  font-size: 1.3em;
  letter-spacing: 1px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 0.9em;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.user-profile {
  display: flex;
  gap: 0.9em;
  align-items: center;
  justify-content: center;
}


.profile-link{
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}



@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    margin: auto;
    justify-content: center;
  }
}

#profile-img {
  width: 40px;
  height: 40px;
  border-radius: 60%;
}
