<header>
  <div class="header-container">
    <a routerLink="/" id="logo">Booking App </a>
    <nav class="nav">
      <a routerLink="/listings" class="nav-link">Listings</a>
      <a routerLink="/about" class="nav-link">About</a>
      <a routerLink="/contact" class="nav-link">Contact</a>
    </nav>
    <div class="user-profile">
      <ng-container class="user-profile" *ngIf="isLoggedIn; else loginTemplate">
        <img
          class="image-container"
          [src]="getProfileImageData()"
          alt="Profile Image"
          id="profile-img"
          class="profile-link"
          routerLink="/profile"
        />
        <a routerLink="/profile" class="profile-link">Profile</a>
        <a (click)="logout()" class="profile-link">Logout</a>
      </ng-container>
      <ng-template #loginTemplate>
        <a routerLink="/register" class="profile-link">Register</a>
        <a routerLink="/login" class="profile-link">Login</a>
      </ng-template>
    </div>
  </div>
</header>
