<header>
  <div class="header-container">
    <a routerLink="/" id="logo">Booking Hub</a>
    <nav class="nav">
      <a routerLink="/listings" class="nav-link">Listings</a>
      <a routerLink="/about" class="nav-link">About</a>
      <a routerLink="/contact" class="nav-link">Contact</a>
    </nav>
    <div class="user-profile" (click)="toggleDropdown()">
      <img
        [src]="getProfileImageData()"
        alt="Profile Image"
        id="profile-img"
        class="profile-link"
      />
      <div class="dropdown-menu" *ngIf="isDropdownOpen">
        <ng-container
          *ngIf="authService.isAuthenticated(); else loggedOutTemplate"
        >
          <a routerLink="/profile" class="dropdown-item">Profile</a>
          <a (click)="logout()" class="dropdown-item">Logout</a>
        </ng-container>
        <ng-template #loggedOutTemplate>
          <a routerLink="/login" class="dropdown-item">Login</a>
          <a routerLink="/register" class="dropdown-item">Register</a>
        </ng-template>
      </div>
    </div>
  </div>
</header>
