<div class="listing-creation-container">
  <h2>Create a Listing</h2>
  <form (ngSubmit)="createListing()" class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      [(ngModel)]="listing.title"
      name="title"
      required
    />
    <label for="description">Description</label>
    <textarea
      id="description"
      [(ngModel)]="listing.description"
      name="description"
      required
    ></textarea>
    <label for="propertyAddress">Property Address</label>
    <input
      type="text"
      id="propertyAddress"
      [(ngModel)]="listing.propertyAddress"
      name="propertyAddress"
      required
    />
    <label for="price">Price/night (€)</label>
    <input
      type="number"
      id="price"
      [(ngModel)]="listing.price"
      name="price"
      required
    />
    <label for="images">Images:</label>
    <input
      type="file"
      (change)="onFileChange($event)"
      multiple
      accept="image/*"
    />
    <p *ngIf="uploadedFiles.length">Uploaded Images:</p>
    <div *ngFor="let file of uploadedFiles">{{ file.name }}</div>
    <label>Amenities:</label>
    <div class="amenities-columns">
      <div class="amenity-column" *ngFor="let column of columns">
        <div class="amenity-item" *ngFor="let amenity of column">
          <input
            type="checkbox"
            id="{{ amenity }}"
            [(ngModel)]="selectedAmenities[amenity]"
            name="{{ amenity }}"
          />
          <label class="checkbox-label" for="{{ amenity }}">{{ amenity | amenitiespipe}}</label>
        </div>
      </div>
    </div>
    <app-button text="Create Listing" type="submit" />
    <div *ngIf="error" class="error">{{ error }}</div>
  </form>
</div>
