.listing-creation-container {
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
  padding: 1em;
}

label {
  display: block;
  margin: 1em 0;
}

input[type="text"],
textarea,
input[type="number"] {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
}
.amenities-columns {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px 5px;
  margin-bottom: 1rem;
}
.amenity-column {
  flex: 1;
}
.amenity-item {
  display: flex; 
  align-items: center; 
  margin-bottom: 0.5em; 
  margin-right: 0.5em;
}

.checkbox-label {
  margin-left: 0.4em;
}