.booking {
  border-radius: 0.5em;
  padding: 1em;
  max-width: 75%;
  margin: 1.2em auto;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.host {
  display: flex;
  align-items: center;
  margin-bottom: 1.3em;
}
.host p {
  margin: 0 0.3em;
}
.bookedDates {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-bottom: 1.1em;
}
#profile-img {
  margin: 1em 1em;
  width: 70px;
  height: 70px;
  border-radius: 55%;
  transition: transform 0.2s ease-in-out;
}
#profile-img:hover {
  border-radius: 35%;
  transform: scale(1.5);
}
