<div *ngIf="booking" class="booking">
  <p>You have booked</p>
  <a
    [routerLink]="['/listing']"
    [state]="{ listingId: this.booking.listing.id }"
    >{{ this.booking.listing.title }}
  </a>
  <div class="host">
    <img
      class="image-container"
      [src]="this.imageService.getImageDataFromUser(this.booking.listing.user)"
      alt="Profile Image"
      id="profile-img"
    />
    <p>
      Hosted By {{ this.booking.listing.user.firstName }}
      {{ this.booking.listing.user.lastName }}
      <br />
      Joined {{ this.booking.listing.user.joinedDate | date : "longDate" }}
    </p>
  </div>
  <div class="bookedDates">
    <p>You will be staying for these {{ this.booking.nightsToStay }} days:</p>
    <app-calendar [bookedDates]="bookedDates"></app-calendar>
  </div>
  <p>Checkout will be on {{ getCheckoutDate() | date }} by 15:00</p>
  <p>Price paid - {{ this.totalPrice }} €</p>
</div>
