<div class="home-container">
  <div class="welcome-message">
    <h1>Find Your Perfect Stay</h1>
    <p>Discover and book unique accommodations around the world.</p>
  </div>
  <div
    class="navigation"
    *ngIf="authService.isLoggedIn$ | async as isLoggedIn; else loggedOutNav"
  >
    <app-button text="Explore Listings" routerLink="/listings" />
    <app-button text="Create a Listing" routerLink="/listing-creation" />
    <app-button
      text="Logout"
      routerLink="/listing-creation"
      (click)="this.authService.logout();"
      [isGhost]="true"
    />
  </div>
  <ng-template #loggedOutNav>
    <div class="navigation">
      <app-button text="Login" routerLink="/login" />
      <app-button text="Register" routerLink="/register" [isGhost]="true" />
    </div>
  </ng-template>
</div>
