<div class="home-container">
  <div class="welcome-message">
    <h1>Welcome to my Booking Application</h1>
    <p>Find the best properties and book your stay easily.</p>
  </div>
  <div
    class="navigation"
    *ngIf="authService.isLoggedIn$ | async as isLoggedIn; else loggedOutNav"
  >
    <app-button text="Browse Listings" routerLink="/listings" />
    <app-button text="Create a Listings" routerLink="/listing-creation" />
    <app-button
      text="Logout"
      routerLink="/listing-creation"
      (click)="logout()"
      [isGhost]="true"
    />
  </div>
  <ng-template #loggedOutNav>
    <div class="navigation">
      <a routerLink="/login" class="nav-link">Login</a>
      <a routerLink="/register" class="nav-link">Register</a>
    </div>
  </ng-template>
</div>
