.listing-details {
  border-radius: 8px;
  padding: 16px;
  max-width: 75%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #eeeded;
}

.listing-details p {
  margin: 1em;
}

.listing-details li span {
  background-color: white;
  border-radius: 12%;
  padding: 0.2em;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8em;
}
.button-container {
  display: flex;
  gap: 0.6em;
  justify-content: flex-end;
}
.save-button-container {
  display: flex;
  gap: 0.6em;
  justify-content: flex-start;
}
.booked-date {
  background-color: red;
  color: white;
}

input[type="file"] {
  display: block;
  margin-top: 1rem;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.image-slider {
  position: relative;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  max-width: 100%;
  flex: 0 0 100%;
  max-height: 450px;
  object-fit: contain;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.6em;
  z-index: 1;
}

.prev-btn {
  left: 0.6em;
}

.next-btn {
  right: 0.6em;
}

.host {
  display: flex;
  align-items: center;
  margin-bottom: 1.3em;
  
}
.host p {
  margin: 0 0.3em ;
}
#profile-img {
  margin: 1em 1em;
  width: 70px;
  height: 70px;
  border-radius: 55%;
  transition: transform 0.2s ease-in-out;
}
#profile-img:hover {
  border-radius: 35%;
  transform: scale(1.5);

}
#address {
  font-style: italic;
}
#amenity-list {
  display: flex;
  gap: 0 1em;
}
