.profile-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 1.1em;
  border: 0.1em solid #ccc;
  border-radius: 0.4em;
  background-color: #f9f9f9;
}

label {
  font-size: 0.9em;
  color: gray;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 0.8em);
  padding: 0.5em;
  margin-bottom: 1em;
  border: 0.1em solid #ccc;
  border-radius: 0.5em;
}

.error {
  color: red;
  margin-top: 0.6em;
}

.profile-container:not(.edit-mode) input {
  display: none;
}

.profile-container.edit-mode input {
  display: block;
}

.listing-booking-container {
  display: flex;
  justify-content:stretch;
  align-items: center;
  padding: 0.7em;
  border: 0.1em solid #ccc;
  border-radius: 0.4em;
  margin: 1em;
  background-color: #f9f9f9;
}

.listing-booking-title {
  flex-grow: 1;
}

#profile-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 20%;
  border: 0.15em solid #007bff;
  margin: 1em 0;
}



.profile-view-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
  padding: 1em;
}

.profile-view-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#edit-btn {
  margin-top: 0.5em;
}
#profile-img-upload {
  margin: 1em 0;
}
.editmode-buttons {
  display: flex;
}
.editmode-buttons app-button {
  padding: 0.35em;
}
.dialog-active {
  pointer-events: none;
  opacity: 0.5;
}

.dialog-active app-confirmation-dialog {
  pointer-events: auto;
  opacity: 1;
}