.profile-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 7px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}

.profile-container:not(.edit-mode) input {
  display: none;
}

.profile-container:not(.edit-mode) label {
  font-weight: bold;
}

.profile-container.edit-mode input {
  display: block;
}

.profile-container.edit-mode span {
  display: none;
}
.listing-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.listing-title {
  flex-grow: 1;
}

.delete-button {
  padding: 5px 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #e60000;
}

#profile-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #007bff;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}
