<div class="profile-container" [class.edit-mode]="editMode">
  <mat-tab-group fitInkBarToContent="true" [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Profile">
      <div *ngIf="!editMode" class="profile-view-wrapper">
        <div class="image-container">
          <img
            *ngIf="user.profileImage"
            [src]="
              'data:' +
              user.profileImage.type +
              ';base64,' +
              user.profileImage.data
            "
            alt="Profile image"
            id="profile-img"
          />
          <p *ngIf="!user.profileImage">No profile image available</p>
        </div>
        <div class="profile-view-info">
          <div
            *ngFor="let field of ['username', 'firstName', 'lastName', 'email']"
          >
            <label [for]="field">{{ field | titlecase }}:</label>
            <p [attr.name]="field">{{ user[field] }}</p>
          </div>
          <app-button
            (click)="toggleEditMode()"
            text="Edit"
            id="edit-btn"
          ></app-button>
        </div>
      </div>
      <div *ngIf="editMode" class="edit-form">
        <div
          *ngFor="let field of ['username', 'firstName', 'lastName', 'email']"
        >
          <label [for]="field">{{ field | titlecase }}:</label>
          <input
            [type]="field === 'email' ? 'email' : 'text'"
            [id]="field"
            [(ngModel)]="user[field]"
            [name]="field"
            required
          />
        </div>
        <div id="profile-img-upload">
          <label for="newProfileImage">Profile Picture: <br /></label>
          <input type="file" (change)="onFileSelected($event)" />
        </div>
        <div class="editmode-buttons">
          <app-button text="Save" (click)="saveChanges()"></app-button>
          <app-button
            text="Cancel"
            [isGhost]="true"
            (click)="cancelEdit()"
          ></app-button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Your Listings">
      <ng-container *ngIf="personalListings.length; else noListings">
        <div
          *ngFor="let listing of personalListings"
          class="listing-booking-container"
        >
          <div class="listing-booking-title">
            <a
              [routerLink]="['/listing']"
              [state]="{ listingId: listing.id }"
              >{{ listing.title }}</a
            >
          </div>
          <app-button
            text="Delete"
            (click)="deleteListing(listing.id)"
            [isRed]="true"
          ></app-button>
        </div>
      </ng-container>
      <ng-template #noListings>No listings found.</ng-template>
    </mat-tab>
    <mat-tab label="Your Bookings">
      <ng-container *ngIf="personalBookings.length; else noBookings">
        <div
          *ngFor="let booking of personalBookings"
          class="listing-booking-container"
        >
          <div class="listing-booking-title">
            <a [routerLink]="['/booking']" [state]="{ bookingId: booking.id }">
              {{ booking.listing.title }} ({{
                booking.startDate | date : "dd-MM-yyyy"
              }}
              - {{ getBookingEndDate(booking) | date : "dd-MM-yyyy" }})
            </a>
          </div>
          <app-button
            text="Cancel"
            (click)="deleteBooking(booking.id)"
            [isRed]="true"
          ></app-button>
        </div>
      </ng-container>
      <ng-template #noBookings>No bookings found.</ng-template>
    </mat-tab>
  </mat-tab-group>
  <div *ngIf="error" class="error">{{ error }}</div>
  <app-confirmation-dialog
    *ngIf="showConfirmationDialog"
    [message]="confirmationMessage"
    (confirmed)="onConfirmed($event)"
  >
  </app-confirmation-dialog>
</div>
