.listings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

.listing-card {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 1em;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 1em;
  background-color: #f9f9f9;

}

.listing-card:hover {
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

.listing-card p {
  margin: 0.5em 0;
}
.description-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#price {
  margin-left: 1.3em;
  font-weight: bold;
  white-space: nowrap;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

#create-btn {
  margin-right: 2em;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}
