.listings-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 1em;
  padding: 2em;
}

.listing-card {
  border: 0.1em solid #ccc;
  border-radius: 0.5em;
  padding: 1em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  background-color: white;
  position: relative;
}

.listing-card img.listing-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5em;
}

.listing-card:hover {
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

#price {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 0.5em;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  margin-bottom: 1em;
}

.search-create-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3em;
  margin-top: -2.5em;
  margin-right: 1.2em;
}

.search-container {
  max-width: 400px;
  width: 100%;
}

.search-container input[type="text"] {
  width: 100%;
  margin: 1em;
  padding: 0.5em;
  border: 0.1em solid #ccc;
  border-radius: 0.25em;
}

.search-container input[type="text"]::placeholder {
  color: #999;
}

#address {
  font-style: italic;
}
#description {
  margin-top: 0.4em;
  color: rgb(109, 107, 107);
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.pagination-controls button {
  margin: 0 1em;
  padding: 0.5em 1em;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 0.25em;
  transition: background-color 0.3s;
}

.pagination-controls button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-controls span {
  margin: 0 1em;
}
@media only screen and (max-width: 768px) {
  .search-container{
    margin-left: 0.5em;
  }
  
  #create-btn {
    margin-left: 1em;
  }

  .listings-container {
    flex-direction: column;
    padding-top: 1em;
  }

  .listing-card {
    width: 80%;
    padding: 0.5em;
    justify-self: auto;
  }

  .description-price-container {
    flex-direction: column;
    align-items: flex-start;
  }

  #price {
    margin: 0;
    position: static;
  }

  .search-create-btn-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    margin: 0;
  }

  .search-container {
    width: 100%;
  }

  .search-container input[type="text"] {
    width: 100%;
    margin: 0.5em 0;
  }
}
