.listings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

.listing-card {
  border: 0.1em solid #ccc;
  border-radius: 0.5em;
  padding: 1em;
  width: 50%;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 1em;
  background-color: #f9f9f9;

}

.listing-card:hover {
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

.listing-card p {
  margin: 0.5em 0;
}
.description-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#price {
  margin-left: 1.3em;
  font-weight: bold;
  white-space: nowrap;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  margin-bottom: 1em;
}
.search-create-btn-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3em;
  margin-top: -2.5em;
  margin-right: 1.2em;
}

.search-container {
  max-width: 400px;
  width: 100%;
}

.search-container input[type="text"] {
  width: 100%;
  margin: 1em;
  padding: 0.5em;
  border: 0.1em solid #ccc;
  border-radius: 0.25em;
}

.search-container input[type="text"]::placeholder {
  color: #999;
}

#address{
  font-style:italic;
}