.listings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.listing-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 16px;
}

.listing-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.listing-card h3 {
  margin-top: 0;
}

.listing-card p {
  margin: 8px 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

#create-btn {
  margin-right: 2em;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}
