<div class="search-create-btn-container">
  <div class="search-container">
    <input
      type="text"
      placeholder="Search listings..."
      [(ngModel)]="searchTerm"
      (input)="performSearch()"
    />
  </div>
  <app-button
    routerLink="/listing-creation"
    text="Create a Listing"
    id="create-btn"
  />
</div>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<div class="listings-container">
  <div
    *ngFor="let listing of filteredListings"
    class="listing-card"
    (click)="viewDetails(listing.id)"
  >
    <h2>{{ listing.title }}</h2>
    <p id="address">📍 {{ listing.propertyAddress }}</p>
    <div class="description-price-container">
      <p>
        {{
          listing.description.length > 100
            ? (listing.description | slice : 0 : 100) + "..."
            : listing.description
        }}
      </p>
      <h5 id="price">Price (night): {{ listing.price }} €</h5>
    </div>
  </div>
</div>
