/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font: 16px "Lato", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: inherit;
  list-style: none;
}
a{
  text-decoration: none;
  color: #007bff;
}
a:hover{
  filter: brightness(0.9);
}

button,
label {
  font: inherit;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Typography */

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
li {
  line-height: 1.6;
  margin: 0.5em 0;
}
ul {
  margin-left: 1em;
}
:root {
  --mat-tab-header-divider-height: 0;
}
